
<li class="sub-menü">
    <a href="#" class="sub-toggle" data-toggle="sub" role="button" aria-haspopup="true" aria-expanded="false">Admin işlemleri <span class="caret"></span></a>
    <ul class="sub-menu">
        <li><a asp-action="List" asp-controller="Kategori">Kategori İşlemleri</a></li>
        <li><a asp-action="List" asp-controller="Kurs">Kurs İşlemleri</a></li>
        <li><a asp-action="List" asp-controller="User">Kullanıcı İşlemleri</a></li>
        <li><a asp-action="List" asp-controller="Puanlama">Puanlama İşlemleri</a></li>
        <li><a asp-action="SatınAlmaList" asp-controller="Kurs">Satın Alma Listesi</a></li>

    </ul>
</li>
