<div class="header_top">
    <!--header_top-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="contactinfo">
                    <ul class="nav nav-pills">
                        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-phone"></i> +90 212 212 00 00</a></li>
                        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-envelope"></i> info@onlinerğitimplatformu.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header_top-->